.filterContainer {
  border: 1px solid black;
  width: 10rem;
  height: 22rem;
  margin-top: 4rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

.filterContainer button {
  width: 8rem;
  margin: 0.5rem auto;
  border-radius: 8px;
}

.inactive {
  background-color: rgb(15, 118, 110);
}

.active {
  background-color: aqua;
}

.currentListBtn {
  margin-top: 2rem !important;
  height: 4rem;
}
