.App {
  text-align: center;
  display: flex;
  min-height: 94vh;
  flex-direction: row;
  position: relative;
  /* background-color: rgb(82, 80, 80); */
  /* background-color: black; */
}

.productsContainer {
  width: 70%;
  /* height: 100%; */
  min-height: 0;
  margin: 1rem auto;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #1e293b;
}

.emptyMessage {
  color: white;
  height: 5rem;
  margin: 10rem auto;
  /* border: 1px solid white; */
  font-size: larger;
}
