.modalContainer {
  display: relative;
  width: 30%;
  min-height: 6rem;
  background-color: rgb(194, 191, 191);
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 0px 0px 12px black;
  margin: 5rem 35% 0rem;
  position: fixed;
}

.modalInside {
  border: 1px solid black;
  width: 80%;
  margin: 2rem auto 0rem;
}

.modalClose {
  position: absolute;
  width: 2rem;
  top: 1rem;
  right: 1rem;
}

.modalClearCart {
  position: absolute;
  width: 5rem;
  top: 1rem;
  right: 4rem;
}
