.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContainer {
  display: relative;
  width: 30%;
  min-height: 8rem;
  /* background-color: rgb(194, 191, 191); */
  background-color: #404c5e;
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 0px 0px 12px black;
  margin: 10rem 35% 0rem;
  position: fixed;
  color: white;
}

.modalContainer button {
  color: black;
}

.modalInside {
  border: 1px solid black;
  width: 80%;
  margin: 2rem auto 0rem;
}

.modalClose {
  position: absolute;
  width: 2rem;
  top: 1rem;
  right: 1rem;
}

.modalClearCart {
  position: absolute;
  width: 5rem;
  top: 1rem;
  right: 4rem;
}

.emptyCart {
  /* border: 1px solid red; */
  font-weight: bold;
  margin-top: 2rem;
}
