.product {
  height: 10rem;
  width: 15rem;
  box-shadow: 0px 0px 14px black;
  margin: 0.5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productButton {
  border: 1px solid black;
  border-radius: 12px;
  background-color: cadetblue;
  width: 10rem;
  margin: 0.5rem auto;
}
