.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.loginContainer {
  display: relative;
  width: 30%;
  height: 10rem;
  background-color: #404c5e;
  position: fixed;
  margin: 10rem 35% 0rem;
  box-shadow: 0px 0px 12px black;
  border-radius: 12px;
}

.loginContainer label {
  color: white;
}

.loginClose {
  position: absolute;
  width: 2rem;
  top: 1rem;
  right: 1rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 80%;
  /* border: 1px solid red; */
  top: 1rem;
  margin: 0 auto 0;
  /* left: 2rem; */
}

/* .loginForm label {
  color: white;
} */

.loginForm input {
  width: 90%;
}

.loginForm button {
  width: 4rem;
  margin: 0rem 0.5rem 0rem;
}

.formButtons {
  display: flex;
  margin-top: 0.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 8rem;
  height: 2rem;
}

/*Important set to override transparency setting in tailwind.*/
.formButtons button {
  background-color: rgb(15, 118, 110) !important;
}

/*Important here overrides previous important setting. */
.formButtons button:hover {
  background-color: aqua !important;
  transition: 0.25s;
  box-shadow: 0px 0px 10px black;
}
